@model IEnumerable<Voluntariat.Models.Ong>

@{
    ViewData["Title"] = "Index";
}

<h3>Lista Ong-uri inregistrare sau in curs de inregistrare in platforma</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OngStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OngStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByName)
                </td>
                <td>
                    @if (item.OngStatus == OngStatus.PendingVerification)
                    {
                        <a asp-action="OngVerify" asp-route-id="@item.ID">Verify</a> <span>|</span>
                        <a asp-action="OngDelete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
