@model Voluntariat.Models.Ong

@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<div>
    <h4>Ong</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OngStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OngStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByID)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>