@using Voluntariat.Framework.Identity
@using Voluntariat.Controllers
@{
    Identity identity = Context.GetIdentity();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(identity?.OngName ?? ViewData["Title"]) - @nameof(Voluntariat)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (identity != null && !string.IsNullOrWhiteSpace(identity.OngName))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="@nameof(HomeController)[0..^10]" asp-action="@nameof(HomeController.Index)">@nameof(Voluntariat) - @identity.OngName</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="@nameof(HomeController)[0..^10]" asp-action="@nameof(HomeController.Index)">@nameof(Voluntariat)</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (identity == null || identity.Role == IdentityRole.Admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(OngsController)[0..^10]" asp-action="@nameof(OngsController.Index)">
                                    Ongs
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(HomeController)[0..^10]" asp-action="@nameof(HomeController.Index)">
                                    Categories
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(HomeController)[0..^10]" asp-action="@nameof(HomeController.Index)">
                                    Services
                                </a>
                            </li>
                        }

                        @if (identity?.Role == IdentityRole.Guest)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(GuestController)[0..^10]" asp-action="@nameof(GuestController.Index)">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(GuestController)[0..^10]" asp-action="@nameof(GuestController.RegisterAsOng)">Ong</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(GuestController)[0..^10]" asp-action="@nameof(GuestController.RegisterAsBeneficiary)">Beneficiary</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(GuestController)[0..^10]" asp-action="@nameof(GuestController.RegisterAsVolunteer)">Volunteer</a>
                            </li>
                        }

                        @if (identity?.Role == IdentityRole.Volunteer || identity?.Role == IdentityRole.NGOAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(VolunteersController)[0..^10]" asp-action="@nameof(VolunteersController.Index)">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(VolunteersController)[0..^10]" asp-action="@nameof(VolunteersController.Volunteers)">Voluntari</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@nameof(VolunteersController)[0..^10]" asp-action="@nameof(VolunteersController.Orders)">Comenzi</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - @nameof(Voluntariat) - <a asp-area="" asp-controller="@nameof(HomeController)[0..^10]" asp-action="@nameof(HomeController.Privacy)">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
