@page
@model RegisterModel
@using Microsoft.Extensions.Configuration
@using Voluntariat.Models
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Register";
    var apikey = Configuration["GoogleCloud:ApiKey"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input asp-for="Input.RegisterAs" type="hidden" value="@Model.RegisterAs" />

            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Input.DialingCode"></label>
                    <input asp-for="Input.DialingCode" class="form-control" />
                    <span asp-validation-for="Input.DialingCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Input.Address"></label>
                    <input asp-for="Input.Address" type="text" id="places_text" class="form-control" placeholder="Enter a location" />
                    <input asp-for="Input.Latitude" id="places_lat" class="form-control" />
                    <input asp-for="Input.Longitude" id="places_lng" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.RangeInKm"></label>
                    <input asp-for="Input.RangeInKm" class="form-control" placeholder="0.00" />
                    <span asp-validation-for="Input.RangeInKm" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.HasDriverLicence"></label>
                    <input asp-for="Input.HasDriverLicence" class="form-control" />
                    <span asp-validation-for="Input.HasDriverLicence" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Input.TransportationMethod"></label>
                    <select asp-for="Input.TransportationMethod" asp-items="Html.GetEnumSelectList<TransportationMethod>()" class="col-md-12 form-control" onclick="DisplayHiddenSection()">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="Input.TransportationMethod" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12" id="other-transportation" hidden>
                    <label asp-for="Input.OtherTransportationMethod"></label>
                    <input asp-for="Input.OtherTransportationMethod" class="form-control" />
                    <span asp-validation-for="Input.OtherTransportationMethod" class="text-danger"></span>
                </div>

                @if (Model.RegisterAs == RegisterAs.Volunteer)
                {
                    <div class="form-group col-md-12">
                        <label asp-for="Input.ONGId">ONG List</label>
                        <select asp-for="Input.ONGId" asp-items="Model.AvailableNGOs" class="col-md-12 form-control">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.ActivateNotificationsFromOtherOngs"></label>
                        <input asp-for="Input.ActivateNotificationsFromOtherOngs" class="form-control" />
                        <span asp-validation-for="Input.ActivateNotificationsFromOtherOngs" class="text-danger"></span>
                    </div>
                }
                <br />
            </div>

            @if (Model.RegisterAs == RegisterAs.NGO)
            {
                <h5>NGO's details:</h5>
                <hr />

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.Name"></label>
                    <input asp-for="Input.NGORegistrationModel.Name" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.IdentificationNumber"></label>
                    <input asp-for="Input.NGORegistrationModel.IdentificationNumber" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.IdentificationNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.HeadquartersAddress"></label>
                    <input asp-for="Input.NGORegistrationModel.HeadquartersAddress" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.HeadquartersAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.Website"></label>
                    <input asp-for="Input.NGORegistrationModel.Website" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.Website" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.CategoryID">Categories</label>
                    <select asp-for="Input.NGORegistrationModel.CategoryID" asp-items="Model.AvailableCategories" class="col-md-12 form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.ServiceID">Services</label>
                    <select asp-for="Input.NGORegistrationModel.ServiceID" asp-items="Model.AvailableServices" class="col-md-12 form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>
            }

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        @if (Model.RegisterAs == RegisterAs.NGO)
        {
            <form method="post" enctype="multipart/form-data">
                <br>
                <div class="upload-border">
                    <input class="col-md-9" type="file" name="files" multiple />
                    <button type="submit" class="btn btn-primary" asp-page-handler="Upload">Upload</button>
                </div>
            </form>
        }
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@apikey&libraries=places"></script>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('places_text'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            $('#places_text').val(address);
            $('#places_lat').val(latitude);
            $('#places_lng').val(longitude);
        });
    });

    function DisplayHiddenSection() {
        var selection = $("#Input_TransportationMethod :selected").text();

        if (selection == '@TransportationMethod.Other.ToString()') {
            $("#other-transportation").attr('hidden', false);
        } else {
            $("#other-transportation").attr('hidden', true);
        }
    }
</script>

<style>
    .upload-border {
        border: solid 1px #005cbf;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
