@page
@model RegisterModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Register";
    var apikey = Configuration["GoogleCloud:ApiKey"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input asp-for="Input.RegisterAs" type="hidden" value="@Model.RegisterAs" />

            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Input.DialingCode"></label>
                    <input asp-for="Input.DialingCode" class="form-control" />
                    <span asp-validation-for="Input.DialingCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Input.Address"></label>
                    <input asp-for="Input.Address" type="text" id="places_text" class="form-control" placeholder="Enter a location" />
                    <input asp-for="Input.Latitude" type="hidden" id="places_lat" class="form-control" />
                    <input asp-for="Input.Longitude" type="hidden" id="places_lng" class="form-control" />
                </div>
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <form method="post" enctype="multipart/form-data">
            <br>
            <div class="upload-border">
                <input class="col-md-9" type="file" name="files" multiple />
                <button type="submit" class="btn btn-primary" asp-page-handler="Upload">Upload</button>
            </div>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" style="margin-top:20px">
                @ViewBag.Message
            </div>
        }

    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@apikey&libraries=places"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('places_text'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            $('#places_text').val(address);
            $('#places_lat').val(latitude);
            $('#places_lng').val(longitude);
        });
    });
</script>

<style>
    .upload-border {
        border: solid 1px #005cbf;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
