@model Voluntariat.Models.AdminMetricsModel
@using Voluntariat.Controllers

@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="row margin-top-25">
        <div class="col-4 card-block">
            <a asp-area="" asp-controller="@nameof(NGOsController)[0..^10]" asp-action="@nameof(NGOsController.Index)">
                <img src="~/res/ngos.png" class="max-width-100" />
            </a>
            <h4 class="card-title">NGOs</h4>
            <a asp-area="" asp-route-status="@(NGOStatus.Verified)" asp-controller="@nameof(NGOsController)[0..^10]" asp-action="@nameof(NGOsController.Index)" class="btn btn-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveNGOs)</span>
            </a>
            <a asp-area="" asp-route-status="@(NGOStatus.PendingVerification)" asp-controller="@nameof(NGOsController)[0..^10]" asp-action="@nameof(NGOsController.Index)" class="btn btn-primary">
                Pending
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfPendingNGOs)</span>
            </a>
        </div>

        <div class="col-4 card-block">
            <a asp-area="" asp-controller="@nameof(CategoryController)[0..^10]" asp-action="@nameof(CategoryController.Index)">
                <img src="~/res/categories.png" class="max-width-100" />
            </a>
            <h4 class="card-title">Categories</h4>
            <a asp-area="" asp-route-status="@(CategoryStatus.Approved)" asp-controller="@nameof(CategoryController)[0..^10]" asp-action="@nameof(CategoryController.Index)" class="btn btn-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveCategories)</span>
            </a>
            <a asp-area="" asp-route-status="@(CategoryStatus.Pending)" asp-controller="@nameof(CategoryController)[0..^10]" asp-action="@nameof(CategoryController.Index)" class="btn btn-primary">
                Pending
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfPendingCategories)</span>
            </a>
        </div>

        <div class="col-4 card-block">
            <a asp-area="" asp-controller="@nameof(ServiceController)[0..^10]" asp-action="@nameof(ServiceController.Index)">
                <img src="~/res/services.png" class="max-width-100" />
            </a>
            <h4 class="card-title">Services</h4>
            <a asp-area="" asp-route-status="@(ServiceStatus.Approved)" asp-controller="@nameof(ServiceController)[0..^10]" asp-action="@nameof(ServiceController.Index)" class="btn btn-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveServices)</span>
            </a>
            <a asp-area="" asp-route-status="@(ServiceStatus.Pending)" asp-controller="@nameof(ServiceController)[0..^10]" asp-action="@nameof(ServiceController.Index)" class="btn btn-primary">
                Pending
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfPendingServices)</span>
            </a>
        </div>
    </div>

    <div class="row margin-top-25">
        <div class="col-4 card-block">
            <img src="~/res/volunteers.png" class="max-width-100" />
            <h4 class="card-title">Volunteers</h4>
            <a href="" class="btn btn-light btn-outline-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveVolunteers)</span>
            </a>
            <a href="" class="btn btn-light btn-outline-primary">
                Unaffiliated
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfUnaffiliatedVolunteer)</span>
            </a>
        </div>

        <div class="col-4 card-block">
            <img src="~/res/projects.png" class="max-width-100" />
            <h4 class="card-title">Projects</h4>
            <a href="" class="btn btn-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveProjects)</span>
            </a>
        </div>

        <div class="col-4 card-block">
            <img src="~/res/beneficiaries.png" class="max-width-100" />
            <h4 class="card-title">Beneficiaries</h4>
            <button class="btn btn-light btn-outline-primary">
                Active
                <span class="badge badge-warning">@Html.DisplayFor(model => model.NoOfActiveBeneficaries)</span>
            </button>
        </div>
    </div>
</div>