@page
@model RegisterModel
@using Microsoft.Extensions.Configuration
@using Voluntariat.Models
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Register";
    var apikey = Configuration["GoogleCloud:ApiKey"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<input type="hidden" id="googleApiKey" value="@apikey" />
<div class="row">
    <div class="col-md-4">
        <form id="RegisterForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <input asp-for="Input.RegisterAs" type="hidden" value="@Model.RegisterAs" />

            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Input.DialingCode"></label>
                    <input asp-for="Input.DialingCode" class="form-control" />
                    <span asp-validation-for="Input.DialingCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-8">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" type="text" id="user_address" class="form-control" placeholder="Enter a location" />
                <input asp-for="Input.Latitude" id="user_address_lat" class="form-control" />
                <input asp-for="Input.Longitude" id="user_address_lng" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.RangeInKm"></label>
                    <input asp-for="Input.RangeInKm" class="form-control" placeholder="0.00" />
                    <span asp-validation-for="Input.RangeInKm" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Input.HasDriverLicence"></label>
                    <input asp-for="Input.HasDriverLicence" class="form-control" />
                    <span asp-validation-for="Input.HasDriverLicence" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Input.TransportationMethod"></label>
                <select asp-for="Input.TransportationMethod" asp-items="Html.GetEnumSelectList<TransportationMethod>()" class="col-md-12 form-control" onclick="DisplayHiddenSection()">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="Input.TransportationMethod" class="text-danger"></span>
            </div>

            <div class="form-group" id="other-transportation" hidden>
                <label asp-for="Input.OtherTransportationMethod"></label>
                <input asp-for="Input.OtherTransportationMethod" class="form-control" />
                <span asp-validation-for="Input.OtherTransportationMethod" class="text-danger"></span>
            </div>

            @if (Model.RegisterAs == RegisterAs.Volunteer)
            {
                <div class="form-group">
                    <label asp-for="Input.NGOID">NGO List</label>
                    <select asp-for="Input.NGOID" asp-items="Model.AvailableNGOs" class="col-md-12 form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ActivateNotificationsFromOtherNGOs"></label>
                    <input asp-for="Input.ActivateNotificationsFromOtherNGOs" class="form-control" />
                    <span asp-validation-for="Input.ActivateNotificationsFromOtherNGOs" class="text-danger"></span>
                </div>
            }
            <br />

            @if (Model.RegisterAs == RegisterAs.NGO)
            {
                <h5>NGO's details:</h5>
                <hr />

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.Name"></label>
                    <input asp-for="Input.NGORegistrationModel.Name" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.IdentificationNumber"></label>
                    <input asp-for="Input.NGORegistrationModel.IdentificationNumber" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.IdentificationNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.HeadquartersAddress"></label>
                    <input asp-for="Input.NGORegistrationModel.HeadquartersAddress" type="text" id="headquerters_address" class="form-control" placeholder="Enter a location" />
                    <input asp-for="Input.NGORegistrationModel.HeadquartersAddressLatitude" id="headquerters_address_lat" class="form-control" />
                    <input asp-for="Input.NGORegistrationModel.HeadquartersAddressLongitude" id="headquerters_address_lng" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.HeadquartersAddress" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="Input.NGORegistrationModel.DialingCode"></label>
                        <input asp-for="Input.NGORegistrationModel.DialingCode" class="form-control" />
                        <span asp-validation-for="Input.NGORegistrationModel.DialingCode" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-8">
                        <label asp-for="Input.NGORegistrationModel.HeadquartersPhoneNumber"></label>
                        <input asp-for="Input.NGORegistrationModel.HeadquartersPhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.NGORegistrationModel.HeadquartersPhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.HeadquartersEmail"></label>
                    <input asp-for="Input.NGORegistrationModel.HeadquartersEmail" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.HeadquartersEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.Website"></label>
                    <input asp-for="Input.NGORegistrationModel.Website" class="form-control" />
                    <span asp-validation-for="Input.NGORegistrationModel.Website" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.CategoryID">Categories</label>
                    <select asp-for="Input.NGORegistrationModel.CategoryID" asp-items="Model.AvailableCategories" class="col-md-12 form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Input.NGORegistrationModel.ServiceID">Services</label>
                    <select asp-for="Input.NGORegistrationModel.ServiceID" asp-items="Model.AvailableServices" class="col-md-12 form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>

                @if (Model.RegisterAs == RegisterAs.NGO)
                {
                    <label>Upload your documents</label>
                    <div class="form-group">
                        <input class="upload-style" type="file" name="files" multiple />
                    </div>
                }
            }

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

<style>
    .upload-style {
        padding-left: 0;
    }
</style>

@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@apikey&libraries=places"></script>
    <script type="text/javascript">
        //document.getElementById("RegisterForm").addEventListener("submit", onRegisterFormSubmited);
        var geocoder = new google.maps.Geocoder;

        function findLatLang(address) {
            return new Promise(function (resolve, reject) {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        console.log(results);
                        resolve([results[0].geometry.location.lat(), results[0].geometry.location.lng()]);
                    } else {
                        reject(new Error('Couldnt\'t find the location ' + address));
                    }
                })
            })
        }

        $('#RegisterForm').on('submit', function (e) {
            e.preventDefault();
            onRegisterFormSubmited();
        });

        function onRegisterFormSubmited() {
            var apiKey = $("#googleApiKey").val();
            if (apiKey) {
                var headquerters_address = $('#headquerters_address').val();
                var user_address = $('#user_address').val();
                var promises = [];
                if (!$('#user_address_lat').val()) {
                    promises.push(findLatLang(user_address).then(function (latLong) {
                        $('#user_address_lat').val(latLong[0]);
                        $('#user_address_lng').val(latLong[1]);
                    }));
                }                

                if (headquerters_address && !$('#headquerters_address_lat').val()) {
                    promises.push(findLatLang(headquerters_address).then(function (latLong) {
                        $('#headquerters_address_lat').val(latLong[0]);
                        $('#headquerters_address_lng').val(latLong[1]);
                    }));
                }

                Promise.all(promises).then(function (results) {
                    document.getElementById("RegisterForm").submit();
                });
            } else {
                $('#user_address_lat').val(0);
                $('#user_address_lng').val(0);
                $('#headquerters_address_lat').val(0);
                $('#headquerters_address_lng').val(0);
            }
        }
    </script>

    <script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var userAddress = new google.maps.places.Autocomplete(document.getElementById('user_address'));
        google.maps.event.addListener(userAddress, 'place_changed', function () {
            var place = userAddress.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            $('#user_address').val(address);
            $('#user_address_lat').val(latitude);
            $('#user_address_lng').val(longitude);
        });
    });

    google.maps.event.addDomListener(window, 'load', function () {
        var ngoAddress = new google.maps.places.Autocomplete(document.getElementById('headquerters_address'));
        google.maps.event.addListener(ngoAddress, 'place_changed', function () {
            var place = ngoAddress.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            $('#headquerters_address').val(address);
            $('#headquerters_address_lat').val(latitude);
            $('#headquerters_address_lng').val(longitude);
        });
    });

    function DisplayHiddenSection() {
        var selection = $("#Input_TransportationMethod :selected").text();

        if (selection == '@TransportationMethod.Other.ToString()') {
            $("#other-transportation").attr('hidden', false);
        } else {
            $("#other-transportation").attr('hidden', true);
        }
    }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
